.top-scorer tr td{width: 15%;}
.top-scorer tr .player-td {
    width: 30%; 
    justify-content: start;
}
.top-scorer .head-table .team-player {color: aliceblue;}
.top-scorer tr .team-player{
    width: 25%; 
    justify-content: start;
    padding-left: 10px;
    color: rgb(111, 111, 111);
}
.top-scorer .name {height: 26px; overflow: hidden;}
.top-scorer .hov{display: none;}
.top-scorer .number {margin-bottom: 5px;}

@media screen and (max-width : 576px) {
    .top-scorer .name {height: 19px;}
    .top-scorer .number {margin-bottom: 3px;}
}