body {background-color: var(--background) !important; overflow-x: hidden;}
input:focus-visible {outline: none;}
ul {padding: 0 !important; list-style-type: none;}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    background-color: var(--darkblue);
    color: rgb(241, 241, 241);
    z-index: 10;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.nav-bar .logo {
    display: flex;
    height: 50px;
}
.nav-bar .logo img {width: 50px;}
.nav-bar .logo h1 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 !important;
}
h1 span {
    color: var(--blue1);
    margin-left: 7px;
}
.search-container {
    position: relative;
    display: flex;
    width: 30px;
    height: 35px;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}
.search-container input {
    position: absolute;
    top: -29px;
    left: -216px;
    padding-left: 5px;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease;
}
.icon-nav {
    position: absolute;
    right: 5px;
    top: 9px;
    color: var(--blue2);
    font-weight: bold !important;
    transition: all 0.3s ease;
}
.icon-nav:hover {color: rgb(178, 178, 178);}
.icon-toggle, .close {display: none;}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--blue2);
    transition: all 0.3s ease;
    cursor: pointer;
}
.close:hover {color: rgb(178, 178, 178);}

/* container */
.container-element {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

/* list league */
.league-container {
    width: 25%;
}
.league-container h2 {
    font-size: 18px;
    font-weight: bold;
}
.list-league {
    display: flex;
    flex-direction: column;
}
.list-league .list-item {
    display: flex;
    height: 34px;
    padding: 5px 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
}
.list-league .active {background-color: #dadada; color: rgb(63, 63, 63);}
.list-league .list-item img {width: 25px; height: 100%; margin-right: 7px;}
.list-league .list-item > span {position: relative;}
.line-list {
    display: block;
    width: 0;
    height: 2px;
    background-color: #f3a656;
    transition: all 0.3s ease;
}
.list-league .list-item:hover {padding-left: 12px;}
.list-league .list-item:hover .line-list {width: 100%;}
/* end list league */

.current-element {
    display: flex;
    justify-content: space-between;
    width: 73%;
}

@media screen and (max-width : 992px) {
    .nav-content, .container-element > .content {width: 98%;}
    .nav-option {margin-right: 10px;}
    #icon-toggle-league {
        display: block;
        position: relative;
        right: -3px;
        cursor: pointer;
    }
    .league-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        min-height: 100%;
        background-color: var(--darkblue);
        color: rgb(241, 241, 241);
        z-index: 99999999;
        transition: all 0.3s ease;
    }
    .league-container h2 {
        position: absolute;
        left: 6px;
        top: 3px;
    }
    .list-league {margin-top: 40px}
    .list-league .active {background-color: var(--blue1);}
    #close-league {display: block;}
}

@media screen and (max-width : 576px) {
    .nav-bar .logo {height: 36px;}
    .container-element {padding-top: 66px;}
    .nav-bar .logo h1 {font-size: 16px;}
    .nav-bar .logo img {width: 39px;}
    .search-container input {left: -171px; width: 200px;}
}