body {
    background-color: var(--fs-bg-light) !important; 
    overflow-x: hidden;
}
input:focus-visible {outline: none;}
ul {padding: 0 !important; list-style-type: none;}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    background-color: var(--darkblue);
    color: rgb(241, 241, 241);
    z-index: 10;
}
.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.nav-bar .logo {
    display: flex;
    height: 50px;
    cursor: pointer;
}
.nav-bar .logo img {width: 50px;}
.nav-bar .logo h1 {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 !important;
}
h1 span {
    color: var(--blue1);
    margin-left: 7px;
}
.search-container {
    position: relative;
    display: flex;
    width: 30px;
    height: 35px;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}
.search-container input {
    position: absolute;
    top: -29px;
    left: -216px;
    padding-left: 5px;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease;
}
.icon-nav {
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--blue2);
    font-weight: bold !important;
    transition: all 0.3s ease;
}
.icon-nav:hover {color: rgb(178, 178, 178);}
.icon-toggle, .close {display: none !important;}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--blue2);
    transition: all 0.3s ease;
    cursor: pointer;
}
.close:hover {color: rgb(178, 178, 178);}

/* container */
.container-element {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 80px;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

/* list league */
.league-container {
    width: 25%;
}
.league-container h2 {
    font-size: 18px;
    font-weight: bold;
}
.list-league {
    display: flex;
    flex-direction: column;
}
.list-league .list-item {
    display: flex;
    height: 34px;
    padding: 5px 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    border-radius: 4px;
}
.list-league .active {background-color: #dadada; color: rgb(63, 63, 63);}
.list-league .list-item img {width: 25px; height: 100%; margin-right: 7px;}
.list-league .list-item > span {position: relative;}
.line-list {
    display: block;
    width: 0;
    height: 2px;
    background-color: #f3a656;
    transition: all 0.3s ease;
}
.list-league .list-item:hover {padding-left: 12px;}
.list-league .list-item:hover .line-list {width: 100%;}
/* end list league */

.current-element {
    display: flex;
    justify-content: space-between;
    width: 73%;
    height: max-content;
}

.current-item {padding: 10px;}

.winner {color: forestgreen;}

/* infoLeague, infoTeam */
.info {
    width: 100%;
    background-color: white;
    border-radius: 6px;
}
.info .nav-info li {
    padding: 10px 0;
    text-align: center;
}
.info .country-league {padding: 20px 15px;}
.info .country img {
    width: 30px; 
    height: 25px;
    border: 1px solid rgb(242, 239, 239);
    border-radius: 50px;
}
.info .country {
    font-size: 16px;
    font-weight: bold;
    color: var(--blue1);
}
.info .league {
    display: flex;
    margin-top: 20px;
}
.info .league img {
    width: 55px; 
    height: 55px;
    margin-right: 15px;
}
.info .league span {display: block;}
.info .league .name {
    font-size: 18px;
    font-weight: bold;
}
.info .league .season {
    font-size: 14px;
    margin-top: 7px;
}
.info .listMatch {font-size: 14px;}
.info h3 {font-size: 16px;}

/* standing */
.standing-container {width: 100%;}
.head-table {
    background-color: var(--blue2) !important;
    color: white;
    border-bottom: none;
    height: 38px;
}
.standing-container tr {
    display: flex;
    width: 100%;
    height: 50px;
    padding: 6px 0 6px 10px;
    /* border-bottom: 1px solid rgb(224, 224, 224); */
    transition: all 0.3s ease;
    cursor: pointer;
}
.standing-container .current-team {background-color: rgb(223 234 245) !important;}
.standing-container tr:nth-child(odd) {
    background-color: rgb(244, 244, 244);
}
.standing-container tr td.team {
    display: flex;
    justify-content: start; 
    width: 65%;
    text-align: start;
    overflow: hidden;
}
.standing-container tr td {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}
.standing-container .item-container:hover {background-color: aliceblue}
.standing-container img {width: 32px; height: 32px; margin-right: 10px;}
.standing-container .number {
    margin: 0 7px; 
    font-size: 18px; 
    display: inline-block;
    width: 21px !important;
}
td .caption-td {
    position: absolute;
    display: none;
    width: max-content;
    top: 29px;
    left: 13%;
    padding: 0 4px;
    font-size: 12px;
    color: aliceblue;
    background: #6d6d69;
    border-radius: 6px;
    z-index: 1;
}
td:hover .caption-td {display: block;}
/* .head-table td:hover span {display: block;} */
/* end standing */

/* nav-info (ary amin infoMatch sy infoLeague */
.nav-info {
    display: flex;
    margin-top: 25px;
    background-color: aliceblue;
    border: 1px solid rgb(230, 230, 230);
    color: rgb(94, 94, 94);
}
.nav-info li {
    padding: 10px 0;
    width: 100% !important;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}
.nav-info li:hover {
    background-color: rgb(223, 239, 252); 
    border-left: 1px solid aliceblue;
    border-right: 1px solid aliceblue
}
.nav-info .active {
    background-color: rgb(223, 239, 252);
    color: black;
}

/* */
.mode {
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
body.dark {
    background-color: var(--fs-bg-dark) !important;
    color: rgba(255, 255, 255, 0.87);
}
.dark .list-league .active {
    background-color: var(--bg-dark-active-league);
    color: var(--color-dark-active-league);
}
.dark .match-container, 
.dark .calendar-month {background-color: var(--fs-bg-dark-secondary);}

.dark .nav-list,
.dark .day td {color: inherit;}

.dark .matchs h3,
.dark .info {background-color: var(--fs-bg-dark-tertiary);}

.dark .matchs h3 .country,
.dark .date-match {color: rgba(255, 255, 255, 0.6);}

.dark ul li .hour-match,
.dark .stadium-match,
.dark .coach .caption {color: rgba(255, 255, 255, 0.5);}

.dark .list-match li:hover,
.dark .nav-list li:hover {background-color: var(--fs-bg-dark-hover );}

.dark .day-item:hover {
    background-color: var(--fs-bg-dark-hover );
    color: inherit;
}
.dark .jump {background-color: transparent;}
.dark .current-date,
.dark .info-match h3 .country {color: inherit;}

.dark .week td {
    background: #1c1c1f;
    border-right: 1px solid rgb(126 126 126);
    border-bottom: 1px solid rgb(126 126 126);
    color: inherit;
}
.dark .info-match {
    background-color: var(--fs-bg-dark-secondary);
    color: rgba(255, 255, 255, 0.87);
}
.dark .info-match h3 {border-bottom: 1px solid rgb(126 126 126);}
.dark .nav-info {
    background-color: var(--fs-bg-dark-tertiary);
    color: rgba(255, 255, 255, 0.75);
    border: 1px solid rgb(126 126 126);
}
.dark .nav-info .active {
    background-color: #222225;
    color: rgba(255, 255, 255, 0.87);
}
.dark .nav-info li:hover {
    background-color: #222225;
    border-left: 1px solid rgb(126 126 126);
    border-right: 1px solid rgb(126 126 126);
}
.dark .coach .away {
    border-left: 1px solid rgb(126 126 126);
}
.dark .coach .team,
.dark .match .hour-match {color: rgba(255, 255, 255, 0.87);}
.dark .info-team .player {background-color: #313131;}
.dark .info-team .player footer {
    background-color: rgb(100 99 99);
    color: rgba(255, 255, 255, 0.7);
}
.dark .info-team .caption.Defenders {color: #c36c6c;}
.dark .info-team .caption.Forwards {color: #7474ac;}
.dark .head-table {
    background-color: #435267 !important;
    color: rgba(255, 255, 255, 0.87);
}
.dark .standing-container tr:nth-child(odd) {
    background-color: #262626;
}
.dark .standing-container .item-container:hover {
    background-color: var(--fs-bg-dark-hover );
    color: inherit;
}
.dark .top-scorer tr .team-player {color: rgba(255, 255, 255, 0.6);}
.dark .standing-container .current-team {
    background-color: #1b2027 !important;
    color: inherit;
}
.dark .stats-player .head-table td {
    background-color: #435267 !important;
    color: rgba(255, 255, 255, 0.87) !important;
}
.dark .player-table,
.dark .stats-player .tr-player td{color: rgba(255, 255, 255, 0.8) !important;}
.dark .moment .time {
    background-color: rgba(255, 255, 255, 0.8);
    color: #121212;
}
.dark .statistics .row-item {color: rgba(255, 255, 255, 0.75)}
.dark .statistics {
    box-shadow: 1px 1px 10px rgb(126 126 126);
}

@media screen and (max-width : 992px) {
    .nav-content, .container-element > .content {width: 98%;}
    .nav-option {margin-right: 10px;}
    #icon-toggle-league {
        display: block !important;
        position: relative;
        margin-left: 5px;
        right: -3px;
        cursor: pointer;
    }
    .league-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        min-height: 100%;
        background-color: var(--darkblue);
        color: rgb(241, 241, 241);
        z-index: 99999999;
        transition: all 0.3s ease;
    }
    .league-container h2 {
        position: absolute;
        left: 6px;
        top: 3px;
    }
    .list-league {margin-top: 40px}
    .list-league .active {background-color: var(--blue1);}
    #close-league {display: block !important;}
}

@media screen and (max-width : 576px) {
    .nav-bar .logo {height: 36px;}
    .container-element {padding-top: 66px;}
    .nav-bar .logo h1 {font-size: 16px;}
    .nav-bar .logo img {width: 39px;}
    .search-container input {left: -171px; width: 200px;}

    .nav-info {margin-top: 10px; font-size: 12px;}
    .info .listMatch {font-size: 12px;}
}